# these are the packages necessary to typecheck the entire repo
# superset of all the others ones. 

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"
asyncpg = "*"
phonenumbers = "*"
termcolor = "*"
aioredis = "*"
base58 = "*"
openai = "*"
prometheus_async = "*"
prometheus_client = "*"
black = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
protobuf = "*"
types-termcolor = "*"
types-protobuf = "*"
pyqrcode = "*"
ulid2 = "*"
pycryptodome = "*"

[packages.aiohttp]
extras = [ "speedups",]
version = "==3.8.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]

[packages.zbar-py]
git = "https://github.com/zplab/zbar-py"

[packages.amzqr]
git = "https://github.com/x-hw/amazing-qr"
