__pycache__
*secrets
avatars
signal-cli*
auxin-cli
*.pem
data
*log
.idea
imogen/forest/*
imogen/mc_util/*
*.png
*.jpg
.vscode
imposter/forest
imposter/mc_util
imposter/Pipfile.lock
imposter/personate
imposter/.env
imposter/poetry.lock
imposter/.venv
imposter/attachments
imposter/stickers
imposter/bots/
imposter/keys
