__pycache__
*secrets
*.pem
avatars
signal-cli*
auxin-cli
data
*log
.idea
.vscode
imposter/forest
imposter/mc_util
imposter/Pipfile.lock
imposter/personate
imposter/.env
imposter/poetry.lock
imposter/.venv
imposter/attachments
imposter/stickers
imposter/bots/
imposter/keys
