[MESSAGES CONTROL]

disable=
    attribute-defined-outside-init,
    invalid-name,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    too-many-instance-attributes,
    logging-fstring-interpolation,
    consider-using-with,
    consider-using-from-import,
    fixme,
    # handled by black
    format,
    line-too-long


[VARIABLES]
dummy-variables-rgx=(_|dummy|unused|i)
