[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"
asyncpg = "*"
mobilecoin = "*"
base58 = "*"
phonenumbers = "*"
termcolor = "*"
prometheus_async = "*"
prometheus_client = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
types-termcolor = "*"
types-protobuf = "*"

[packages.aiohttp]
extras = [ "speedups",]
version = "*"
