[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = {extras = ["speedups"], version = "*"}
aioprocessing = "*"
pyqrcode = "*"
pynacl = "*"
asyncpg = "*"

[dev-packages]
isort = "*"
black = "*"
aioconsole = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
