[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"
asyncpg = "*"
base58 = "*"
phonenumbers = "*"
termcolor = "*"
prometheus-async = "*"
prometheus-client = "*"
protobuf = "*"
ulid2 = "*"
Pillow = "*"
pycryptodome = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]

[packages.aiohttp]
extras = [ "speedups",]
version = "==3.8.1"

[packages.zbar-py]
git = "https://github.com/zplab/zbar-py"

[packages.amzqr]
git = "https://github.com/itdaniher/amazing-qr"
ref = "63cbdfd"
