[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"
asyncpg = "*"
aiohttp = {extras = [ "speedups",], version = "*"}
base58 = "*"
phonenumberslite = "*"
prometheus_async = "*"
prometheus_client = "*"
protobuf = "*"
termcolor = "*"
ulid2 = "*"
personate = {git = "https://github.com/deepfates/personate"}
pycryptodome = "*"
acrossword = {git = "https://github.com/ckoshka/acrossword"}
pyai21 = {git = "https://github.com/ckoshka/pyai21"}

[requires]
python_version = "3.9"
