[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioprocessing = "*"

asyncpg = "*"
aiohttp = {extras = [ "speedups",], version = "*"}
base58 = "*"
phonenumbers = "*"
termcolor = "*"
prometheus_async = "*"
prometheus_client = "*"
pycryptodome = "*"
ulid2 = "*"
protobuf = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]
