name: checks
'on':
  - push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install pipenv
        run: python -m pip install --upgrade pipenv wheel
      - id: cache-pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: '${{ runner.os }}-pipenv-v0-${{ hashFiles(''**/Pipfile.lock'') }}'
      - name: Install dependencies
        if: steps.cache-pipenv.outputs.cache-hit != 'true'
        run: cp .github/Pipfile .; pipenv install --skip-lock --pre
      # - name: Setup tmate session # this lets you SSH into the container
      #   uses: mxschmitt/action-tmate@v3
      - name: Black
        run: pipenv run black . --check
        if: always()
      - name: Mypy
        run: pipenv run mypy sample_bots mc_util forest mobfriend contact imogen
        if: always()
      - name: Pylint
        run: pipenv run pylint --version; pipenv run pylint sample_bots mc_util forest mobfriend/mobfriend.py contact imogen/imogen.py
        if: always()
